[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/ipadmin/.Xauthority
Type=simple
ExecStart=/bin/bash /home/ipadmin/kiosk.sh
Restart=on-abort
User=ipadmin
Group=ipadmin

[Install]
WantedBy=graphical.target
